@use "../abstracts/mixins";
.v-input--selection-controls__ripple {
    color: var(--secondary-color) !important;
}

.v-input__slot {
    input {
        color: var(--primary-color) !important;
    }
}

.v-text-field {
    @include highlight-border;
    color: var(--primary-color) !important;

    label {
        color: var(--primary-color-light) !important;
    }

    input {
        outline: none;
        border: none;
    }

    .v-input__slot:before {
        border-color: var(--primary-color-light) !important;
        color: var(--primary-color-light) !important;
    }

    &[disabled] {
        border-color: transparent !important;
    }
}

.v-chip {
    background-color: var(--bg-light) !important;
    color: var(--primary-color) !important;
}

.v-chip--active {
    background-color: var(--primary-color) !important;
    color: var(--bg-wallet) !important;
}

.vue__time-picker {
    color: var(--primary-color);

    input {
        border: none !important;
        background-color: var(--bg-light) !important;
        color: var(--primary-color) !important;
    }
}

.v-input--checkbox {
    label {
        color: var(--primary-color) !important;
    }
}

.vdatetime {
    background-color: var(--bg-light) !important;
    padding: 6px 12px !important;

    input {
        color: var(--primary-color) !important;
    }
}

.qr_input,
.alias_input {
    background-color: var(--bg-light) !important;
    color: var(--primary-color) !important;
    @include mixins.typography-caption;
    border-radius: var(--border-radius-sm);

    @include highlight-border;

    &[disabled] {
        border-color: transparent !important;
    }
}

.single_line_input {
    display: block;
    width: 100%;
    padding: 5px 12px;
    border: 1px solid var(--bg-light);
    border-radius: 3px;
    color: var(--primary-color);
    padding: 12px;
    border-radius: var(--border-radius-lg);
}

.pass {
    -webkit-text-security: disc;
    -moz-text-security: disc;
}

.pass input {
    text-align: center;
    border: none !important;
}

.pass_name {
    width: 0px;
    opacity: 0;
}

.camino--input {
    display: flex;
    padding: 10px 12px;
    align-items: center;
    gap: 10px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #475569;
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* background: #020617; */
    /* box-shadow: 0px 2px 0px 0px rgba(231, 235, 238, 0.2) inset; */
}
