@use './variables';

@mixin typography-headline-1 {
    font-family: 'Inter', sans-serif;
    font-size: 64px;
    line-height: 83px;
    font-weight: 700;
    letter-spacing: -2.2%;
    font-variant-numeric: lining-nums tabular-nums slashed-zero;
    font-feature-settings: 'ss01' on;
}

@mixin typography-headline-2 {
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    line-height: 62px;
    font-weight: 700;
    letter-spacing: -2.2%;
    font-variant-numeric: lining-nums tabular-nums slashed-zero;
    font-feature-settings: 'ss01' on;
}

@mixin typography-headline-3 {
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    line-height: 52px;
    font-weight: 700;
    letter-spacing: -1.1%;
    font-variant-numeric: lining-nums tabular-nums slashed-zero;
    font-feature-settings: 'ss01' on;
}

@mixin typography-headline-4 {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    line-height: 42px;
    font-weight: 700;
    letter-spacing: -1.1%;
    font-variant-numeric: lining-nums tabular-nums slashed-zero;
    font-feature-settings: 'ss01' on;
}

@mixin typography-headline-5 {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    letter-spacing: -1.1%;
    font-variant-numeric: lining-nums tabular-nums slashed-zero;
    font-feature-settings: 'ss01' on;
}

@mixin typography-headline-6 {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    letter-spacing: -1.1%;
    font-variant-numeric: lining-nums tabular-nums slashed-zero;
    font-feature-settings: 'ss01' on;
}

@mixin typography-subtitle-1 {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    letter-spacing: -2.2%;
    font-variant-numeric: lining-nums tabular-nums slashed-zero;
    font-feature-settings: 'ss01' on;
}

@mixin typography-subtitle-2 {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: -1.1%;
    font-variant-numeric: lining-nums tabular-nums slashed-zero;
    font-feature-settings: 'ss01' on;
}

@mixin typography-body-1 {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    letter-spacing: -1.1%;
    font-variant-numeric: lining-nums tabular-nums slashed-zero;
    font-feature-settings: 'ss01' on;
}

@mixin typography-body-2 {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: -1.1%;
    font-variant-numeric: lining-nums tabular-nums slashed-zero;
    font-feature-settings: 'ss01' on;
}

@mixin typography-caption {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: -1.1%;
    font-variant-numeric: lining-nums tabular-nums slashed-zero;
    font-feature-settings: 'ss01' on;
}

@mixin mobile-device {
    @media only screen and (max-width: variables.$mobile_width) {
        @content;
    }
}

@mixin medium-device {
    @media only screen and (min-width: variables.$mobile_width) and (max-width: variables.$width_m) {
        @content;
    }
}

@mixin large-device {
    @media only screen and (min-width: 960px) and (max-width: 1200px) {
        @content;
    }
}

@mixin xl-device {
    @media only screen and (min-width: 1200px) and (max-width: 1600px) {
        @content;
    }
}

@mixin largest-device {
    @media only screen and (min-width: 1600px) {
        @content;
    }
}

@mixin night-mode {
    html[data-theme='night'] {
        @content;
    }
}

@mixin highlight-border {
    transition-duration: 0.1s;
    border: 1px solid transparent;
    outline: none !important;
    border-radius: var(--border-radius-sm);

    &:hover {
        border-color: var(--primary-color-light);
    }

    &:focus-within {
        border-color: var(--selection-color);
    }
}

@mixin component-wrapper {
    border: var(--primary-border);
    border-radius: var(--border-radius-lg);
    box-shadow: var(--box-shadow);
}
